---
import DefaultLayout from '@layouts/DefaultLayout.astro';
---

<DefaultLayout title="Airtable Test">
    <h1>Airtable Test</h1>
    <p>We are testing to see if this branching thing works.</p>
</DefaultLayout>