---
import DefaultLayout from '@layouts/DefaultLayout.astro';
import Search from "astro-pagefind/components/Search";
import { getCollection } from "astro:content";

const sites = await getCollection("sites");
---

<script is:inline src="/js/tablesort.min.js"></script>

<DefaultLayout title="List View">
    <div class="container mb-32">
        <h1 class="mb-10">List View</h1>
        <p class="text-2xl mb-15">Use the list and search bar below to find mutual aid near you. You can also click on each table column heading to sort the information in that column in ascending or descending order.</p>
        <Search id="search" className="mt-15" uiOptions={{ showImages: false }} />
        <div class="overflow-x-auto">
        <table data-pagefind-body id="listView" class="table-auto mt-10">
            <thead>
                <th scope="col" class="border border-gray-500">Name</th>
                <th scope="col" class="border border-gray-500">Description</th>
                <th scope="col" class="border border-gray-500">Days and Times</th>
                <th scope="col" class="border border-gray-500">Address</th>
                <th scope="col" class="border border-gray-500">Zip Code</th>
            </thead>
            <tbody>
                {
                sites.map((site) => (
                    <tr>
                        <td class="border border-gray-500 p-3">{site.data.Name}</td>
                        <td class="border border-gray-500 p-3">{site.data.Description}</td>
                        <td class="border border-gray-500 p-3">{site.data['Days and Times']}</td>
                        <td class="border border-gray-500 p-3">{site.data.Address}</td>
                        <td class="border border-gray-500 p-3">{site.data.ZIP}</td>
                    </tr>
                ))
                }
            </tbody>
        </table>
        </div>
    </div>
</DefaultLayout>

<script>
  new Tablesort(document.getElementById('listView'));
</script>

<style>
    :root {
        --pagefind-ui-border: #adb5bd;
    }
</style>