---
import DefaultLayout from '@layouts/DefaultLayout.astro'
import Hero from '@components/Hero.astro'
---

<DefaultLayout title="Home">
  <Hero />
  <section class="my-64">
    <div class="container">
      <h2 class="mb-16 text-6xl">Mutual Aid is for Everybody</h2>
      <p class="text-2xl mb-8">We are living in world-changing times. We are creating a new world where our systems are built to unite us and take care of each other. The old systems divide us and manufacture consent for genocides, endless war, and harming the planet.</p>
      <p class="text-2xl">As we build the new world, we need to know where to turn to find the resources that we need to survive. As the old systems crumble and collapse, I hope you can use this list of resources to find what you need to ride this out.</p>
      <h3 class="my-12 text-4xl">Types of Mutual Aid</h3>
      <p class="text-2xl mb-8">This list includes, but is not limited to:</p>
      <ul class="mb-8">
        <li>Free food</li>
        <li>Harm reduction supplies</li>
        <li>Menstrual and postpartum supplies</li>
      </ul>
      <p class="text-2xl mb-8">I try my best to only include resources that don't have conditions or means-testing. We will all need help with obtaining resources at some point. In the meantime, if you have resources to give, then you can use this list to find places to give to. If you need resources, then you should be able to get them without filling out an onerous, undignified application.</p>
      <p class="text-2xl">You are human. You have needs, and you shouldn't have to prove that you have needs. All are welcome to take what they need with dignity and respect.</p>
    </div>
  </section>
</DefaultLayout>
